.page .container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%; }
  .page .container .repos-grid {
    display: flex;
    justify-content: center;
    padding-top: 20px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
