nav {
  height: 100%;
  line-height: 80px;

  a {
    color: royalblue;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    padding: 0 15px;
    transition: all 0.2s linear;

    &:last-child {
      border-right: none;
    }

    &:hover {
      background: #999;
      color: white;
    }

    &.active {
      color: crimson;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }
}